/****Activity Section****/



.activity-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}


.activity-article {
    object-fit: cover;
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    width: 33%;
    height: 400px;
    margin: 20px 30px 50px 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
    box-shadow: 1px 1px 17px -7px black;
}

.activity-article:hover {
    transform: scale(1.1);
}


.activity-article h3 {
    margin-left: 10px;

}

.activity-img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    
    
}

.activity-title {
    margin: 20px;
}