/****Activity Section****/


.activity {
    margin: 70px 0 20px 0;
}

.activity-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
}


.activity-article {
    width: 23%;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -10px black;
}

.activity-article:hover {
    transform: scale(1.1);
}

.activity-article h3 {
    margin: 15px 0 10px 20px;
}

.activity-img {

    width: 100%;
    height: 87%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activity-title {
    margin: 10px 0 30px 30px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */


@media (max-width: 1024px) {
    .activity-img {
       height: 75%;
    }

    .activity-article{
        height: 18.75rem;
        width: 22%;
    }

    .activity-article h3 {
        margin: 0.3125rem 0 0.625rem 1.25rem;
    }

    .activity-container {
        flex-wrap: wrap;
    }
    
}


    /****** Media queries ***********/

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .activity-article {
        width: 100%;
        height: 285px;
        margin: 0.5rem 0 0.5rem 0;
    }

    .activity {
        margin: 0 1.5rem;
    }

    .activity-title {
        margin: 2rem 0 2rem 1rem;
    }

    .activity-img {
        height: 75%;
     }

     .activity-article h3 {
        margin: 1.25rem;
     }

     .activity-container {
        flex-wrap: wrap;
    }
    
}