/****Activity Section****/


.activity {
    margin: 50px 0 20px 0;
}
.activity-container {

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    


}


.activity-article {
    width: 23%;
    height: 500px;
    margin-left: 15px;
    border-bottom: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -7px black;
    
}

.activity-article:hover {
    transform: scale(1.1);
}


.activity-article h3 {
    margin: 10px 0 10px 10px;
}

.activity-img {

    width: 100%;
    height: 87%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

.activity-title {
    margin: 10px 0 30px 30px;
}


@media (max-width: 1024px) {
    .activity-article {
        
    }
}