/****RECHERCHE- FILTERS*****/


.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0 5px 15px;
    font-size: 18px;
    font-weight: bolder;
}

#filters-title {
    display: flex;
    align-items: center;
    margin: 0 20px 15px 0;
}

.filters ul {
    display: flex;
   


}

.filters-li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
}

.icon-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    padding: 18px;
    border-radius: 50px;
}

.filters-li:hover {
    background-color: #deebff;
}

.filters p {
    margin: 0 20px 0 10px;
}

.information {
    display: inline-block;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.icon-information {
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0 10px 30px 20px;
}