                                                    /****RECHERCHE- FILTERS*****/



.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bolder;
}

#filters-title {
    display: flex;
    align-items: center;
    margin-right: 30px;
    
}

.filters ul {
    display: flex;
    align-items: center;
    
    
}

.filters-li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
}

.icon-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    padding: 18px;
    border-radius: 50px;
}

.filters-li:hover {
    background-color: #deebff;
}

.filters p {
    margin: 0 20px 0 10px;
}

.information {
    display: inline-block;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.icon-information {
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    padding: 8px 14px;
    margin-right: 10px;
    margin-bottom: 40px;
}