                                                    /*********FORM******/


.recherche {
display: flex;
margin-top: 30px;
}


.recherche-title {
    font-weight: bold;
    margin: 30px 0 0 0;
}    

.recherche-text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;   
}

#placeholder {
    color: black;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #f2f2f2;
    padding-left: 20px;   
}

#placeholder::placeholder {
    color: black;
}

#button {
    display: flex;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
}

#recherche-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    font-size: 20px;
}

.glass {
    display: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px){

    .recherche {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
    }

    .recherche-title{
        margin: 0;
    }

    #button {
        display: none;   
    }  

    .glass {
        display: flex;
        background-color: #0065fc;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 20px 20px 0;
        font-size: 18px;
        padding: 0 20px;
        cursor: pointer;
    }

    .fa-solid {
        justify-content: center;
        padding: 20px 0;
        border-radius: 20px 0 0 20px;
        
    }
}