/*********FORM******/
.recherche {
display: inline-flex;

}

#recherche-text {
    color: black;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #f2f2f2;
    padding-left: 25px;
}

#recherche-button {
    display: flex;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    padding: 0 30px;
    cursor: pointer;
}

#recherche-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}