/*********FORM******/
.searchForm {
    display: flex;
    justify-content: space-around;
}

.button-search {
    color: #0065FC;
    border-radius: 20px;

}

.icon-form {
    --main-color: #0065FC;

}