/*****HEADER*****/

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    font-size: 20px; 
    margin-top: 8px;  
    margin-left: 50px;
}

.logo {
    flex-basis: 80%;
    margin: 0;  
}

.lien-hebergements {
    flex-basis: 12%;
}

.lien-activites {
    flex-basis: 4rem;
}

.headerNavLink {
    flex: end;
    margin-left: 1rem;
    padding: 0.3rem;
    font-weight: 400;
}

.headerNavLink:hover {
    color: #0065FC;
    border-top: 0.2rem solid #0065FC;
    

}