                                                            /*****HEADER*****/



                                                            
.header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: 20px;  
}

.logo {
    margin: 10px 40px;
    flex-basis: 70%;
}

.lien-hebergements {
   flex-basis: 20%;
}

.lien-activites {
    flex-basis: 10%;  
}

.headerNavLink {
    flex: end;
    margin-left: 1rem;
    padding: 0.3rem;
    font-weight: 400;
}

.headerNavLink:hover {
    color: #0065FC;
    border-top: 0.2rem solid #0065FC;
    

}