                                                    /****** Populaires ***********/



                                                   
.populaires-section {
    background-color: rgb(233, 233, 233);
    margin-left: 40px;
    border-radius: 30px;
    padding: 0 10px 0 25px;
    width: 30%;
} 

.populaires-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    font-size: 22px;
}

.populaires-titre-ico {
    font-size: 22px;
}

.populaires-article {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 20px;
}

.populaires-img {
    width: 200px;
    height: 200px;
    border-radius: 20px 0 0 20px;
}

.populaires-article h3 {
    padding: 0 10px 0 10px;
}

.populaires-article p {
    padding: 0 10px 60px 10px;
}