                                                    /****** Populaires ***********/



                                                   
.populaires-section {
    
    background-color: #f2f2f2;
    margin-left: 40px;
    border-radius: 30px;
    width: 30%;
    height: 740px;
    
} 

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    
}

#populaires-icon {
    font-size: 20px;
    color: #0065FC;
    
}

.populaires-article {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 170px;
    margin: 15px 30px 40px 30px ;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -7px black;
    
}

.populaires-article:hover {
    transform: scale(1.1);
}

.populaires-container {
    display: flex;
    flex-direction: column;   
}

.populaires-img {
    object-fit: cover;
    width: 40%;
    border-radius: 20px 0 0 20px;
    
}

.populaires-article h3 {
    
    margin: 0;
}

.populaires-article p {
    
    margin: 0 ;
}

.populaires-article .card-rating {
    
    margin-left: 10px;
    margin-top: 20px;
}