                                                    /****** Populaires ***********/



                                                   
.populaires-section {
    
    background-color: #f2f2f2;
    margin-left: 30px;
    
    border-radius: 20px;
    
    height: auto;
    
} 

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 0 30px;
    
}

#populaires-icon {
    font-size: 20px;
    color: #0065FC;
    
}

.populaires-article {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 160px;
    margin: 15px 30px 30px 30px ;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -7px black;
    
}

.populaires-article:hover {
    transform: scale(1.1);
}

.populaires-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 

}

.populaires-img {
    object-fit: cover;
    width: 40%;
    border-radius: 20px 0 0 20px;
    
}

.populaires-article h3 {
    
    margin: 5px 0 0 10px;
}

.populaires-article p {
    
   margin: 5px 0 0 10px;
}

.populaires-article .card-rating {
    display: block;
    align-content: flex-end;
    margin: auto 10px 5px 10px;
   
}

@media (max-width: 1024px) {
   
    .populaires-section {
       margin: 0;
       
    }

    .populaires-article {
        display: inline-flex;
        width: 29%;
        margin: 10px auto 40px 20px;
    }
    }